body, h1, h2, h3, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #299a3e;
    color: #fbfafa;
    text-align: center;
}

/* Header Styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

/* Main Content Styling */
main {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
fieldset{
    border: none;
    margin: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav div{
    padding-right: 50px;
}
    